{% extends "templates/base.html" %}

{% block content %}
<div class="container">
	<row>
		<column cols="3">
			<div class="thumbnail">
	      		<img src="images/ortiz.png" alt="...">
	      		<div class="caption">
					<h4> {{ project_name }} </h4>
					<h5 class="thin"> Foodie </h5>
					<br>
	      		</div>
	    	</div>
		</column>
		<column cols="6">
			<p class="light">
			I love eating. 
			<br>
			<br>
			I am slowly working my way around the many Japanese restaurants in Boston. I started in the Back Bay/Cambridge area, and I am going to  These are my favorites so far.
			</p>
			<br>
			<address>
				<strong>eatJapanBoston</strong><br>
				@eatJapanBoston<br>
				USA<br>
			</address>
		</column>
	</row>
</div>
{% endblock %}