{% extends "templates/base.html" %}

{% block content %}
<div class="container">
	<row>
		<column cols="3">
			<div class="thumbnail thumbnail-cover">
	      		<img src="images/ortiz.png" alt="...">
	      		<div class="caption">
					<h4> {{ project_name }} </h4>
					<h5 class="thin"> Foodie </h5>
					<br>
	      		</div>
	    	</div>
		</column>
		<column cols="6">
			<div class="thumbnail thumbnail-text">
				<p class="light">
				I love eating. <br> 
				<br>
				I am working my way towards enjoying the many Japanese restaurants in Boston. I started in the Back Bay/Cambridge area, and I am going to slowly work my way around. <br>
				<br>
				Boston certainly does not (yet) have the number of high quality and authentic Japanese restaurants that we might find in New York, Chicago, LA, or Seattle. But that just means you have to search a little bit harder to find your favorite food. You can find authentic restaurants that feel very Japanese, and you can find modern restaurants that delicious Japanese or Japanese-style food. <br>
				<br>
				These are just my favorites so far. <br>
				</p>
				<br>
				<address>
					<strong>eatJapanBoston</strong><br>
					@eatJapanBoston<br>
					USA<br>
				</address>
			</div>
		</column>
	</row>
</div>
{% endblock %}