<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>
    		{{ title }}
    	</title>
    	<!-- Bootstrap -->
    	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    	<link rel="stylesheet" href="{{ root_path.format('stylesheets/kube.min.css') }}">
    	<link type="text/css" rel="stylesheet" href="{{ root_path.format('stylesheets/main.css') }}">
    </head>
    <body>
    	<nav class="navbar navbar-default navbar-static-top">
    		<div class="container">
			    <a class="navbar-brand" >{{ project_name }}</a>
				<!-- Collect the nav links, forms, and other content for toggling -->
	      		<ul class="nav navbar-nav navbar-right">
	        		<li><a href="/"> Home <!-- <span class="sr-only">(current)</span> --></a></li>
	        		<li><a href="/about"> About </a></li>
	        		<li class="dropdown">
	        			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Favorites <span class="caret"></span></a>
				        <ul class="dropdown-menu">
				        	{% for fav in restaurants %}
				        	<li><a href="{{ '/favorites/' + fav['ID'] }}"> {{ fav['name'] }} </a></li>
				        	{% endfor %}
				        	<li role="separator" class="divider"></li>
				        	<li><a href="/favorites"> All Favorites </a></li>
				        </ul>
				    </li>
	    		</ul>
			</div><!-- /.container-fluid -->
		</nav>

	    {% block content %}
	    {% endblock %}
	    <!-- Bootstrap core JavaScript ================================================== -->
    	<!-- Placed at the end of the document so the pages load faster -->
    	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    	<!-- Include all compiled plugins (below), or include individual files as needed -->
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
{% endautoescape %}
