{% extends "templates/base.html" %}

{% block content %}
<div class="container">
	<row>
		<column cols="4">
			<div class="thumbnail thumbnail-cover">
	      		<img src="{{ root_path.format(restaurant['img']) }}" alt="...">
	      		<div class="caption">
					<h1> {{ title }} </h1>
					<h5 class="thin"> {{ address['neighborhood'] }}</h5>
					<address>
						{{ address['street'] }} <br>
						{{ "{}, {} {}".format(address['city'], address['state'], address['zip']) }} <br>
					</address>
	      		</div>
	    	</div>
		</column>
		<column cols="8">
			<div class="thumbnail thumbnail-text">
				<p class="light">
					{{ restaurant['content'] }}
				<br>
				<br>

				</p>
				<br>
			</div>
		</column>
	</row>
</div>
{% endblock %}